[Unit]
Description=Download Pixiv bookmarks with gallery-dl

[Service]
Type=oneshot
ExecStart=/usr/bin/gallery-dl --abort 5 https://www.pixiv.net/bookmark_new_illust.php
