<!DOCTYPE html>
<html>

<head>
    <title>我的主页</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>管理员面板</h1>
    <p>服务列表</p>
    <ul>
        <li><a href="https://pbh.localhost:{{ .data.main_page.port }}">Peer Ban Helper</a></li>
        <li><a href="https://pixivfe.localhost:{{ .data.main_page.port }}">PixivFE</a></li>
    </ul>
</body>

</html>