[Unit]
Requires=pixivfe-wrapper.socket
After=pixivfe-wrapper.socket
BindsTo=pixivfe.service

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd --exit-idle-time 30min localhost:43580
