[Unit]
Requires=main-page.socket
After=main-page.socket

[Service]
Restart=on-failure

[Quadlet]
DefaultDependencies=false

[Container]
ContainerName=main-page
Image=docker.io/library/nginx
AutoUpdate=registry

Environment=NGINX=3;
Volume=%h/.containers/main-page/nginx.conf:/etc/nginx/nginx.conf
Volume=%h/.containers/main-page/ssl_certificate.crt:/etc/ssl/certs/ssl_certificate.crt
Volume=%h/.containers/main-page/ssl_certificate.key:/etc/ssl/private/ssl_certificate.key
Volume=%h/.containers/main-page/www/:/var/www/