[Unit]
Description=PeerBanHelper service

[Service]
Restart=on-failure

[Quadlet] 
DefaultDependencies=false

[Container]
ContainerName=peerbanhelper
Image=docker.io/ghostchu/peerbanhelper:latest
Volume=%h/.containers/peerbanhelper/:/app/data
PublishPort=29483:9898
AutoUpdate=registry

[Install]
WantedBy=default.target
