events {

}

http {
    sendfile        on;

    proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=pximg:10m max_size=10g inactive=7d use_temp_path=off;

    server {
        server_name localhost:{{ .data.pixiv_content_proxy.port }};
        listen {{ .data.pixiv_content_proxy.port }} ssl;
        listen [::]:{{ .data.pixiv_content_proxy.port }} ssl;

        http2 on;

        ssl_certificate /etc/ssl/certs/localhost.crt;
        ssl_certificate_key /etc/ssl/private/localhost.key;

        location / {
            proxy_cache pximg;
            proxy_pass https://i.pximg.net;
            proxy_cache_revalidate on;
            proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
            proxy_cache_lock on;
            add_header X-Cache-Status $upstream_cache_status;
            proxy_set_header Host i.pximg.net;
            proxy_set_header Referer "https://www.pixiv.net/";
            proxy_set_header User-Agent "Mozilla/5.0 (Windows NT 10.0; rv:122.0) Gecko/20100101 Firefox/122.0";

            proxy_cache_valid 200 7d;
            proxy_cache_valid 404 5m;
        }
    }

}