events {

}

http {
    server {
        server_name localhost;

        listen {{ .data.main_page.port }} ssl;
        listen [::]:{{ .data.main_page.port }} ssl;
        
        http2 on;

        ssl_certificate /etc/ssl/certs/localhost.crt;
        ssl_certificate_key /etc/ssl/private/localhost.key;

        location / {
            root /var/www/html;
        }
    }

    server {
        server_name pbh.localhost;

        listen {{ .data.main_page.port }} ssl;
        listen [::]:{{ .data.main_page.port }} ssl;

        http2 on;

        ssl_certificate /etc/ssl/certs/localhost.crt;
        ssl_certificate_key /etc/ssl/private/localhost.key;

        location / {
            proxy_pass http://host.containers.internal:{{ .data.peerbanhelper.port }};
        }
    }

    server {
        server_name pixivfe.localhost;

        listen {{ .data.main_page.port }} ssl;
        listen [::]:{{ .data.main_page.port }} ssl;

        http2 on;

        ssl_certificate /etc/ssl/certs/localhost.crt;
        ssl_certificate_key /etc/ssl/private/localhost.key;


        location / {
            proxy_pass http://host.containers.internal:{{ .data.pixivfe_wrapper.port }};
        }
    }

    server {
        server_name i.pximg.localhost;

        listen {{ .data.main_page.port }} ssl;
        listen [::]:{{ .data.main_page.port }} ssl;

        http2 on;

        ssl_certificate /etc/ssl/certs/localhost.crt;
        ssl_certificate_key /etc/ssl/private/localhost.key;

        location / {
            proxy_pass https://host.containers.internal:{{ .data.pixiv_content_proxy.port }};
        }
    }
}