basic:
  host: 0.0.0.0
  port: {{ .data.pixivfe.port }}
  token:
    - {{ .data.pixivfe.token }}

contentProxies:
  imageProxy: {{ .data.pixivfe.image_proxy_url }}

cache:
  enabled: true

response:
  earlyHintsResponses: true
