[Service]
Restart=on-failure

[Quadlet] 
DefaultDependencies=false

[Container]
ContainerName=peerbanhelper
Image=docker.io/ghostchu/peerbanhelper:latest
AutoUpdate=registry

PublishPort={{ .data.peerbanhelper.port }}:9898
Volume=%h/.containers/peerbanhelper/:/app/data

[Install]
WantedBy=default.target
