[Service]
Restart=on-failure

[Container]
ContainerName=peerbanhelper
Image=docker.io/ghostchu/peerbanhelper
AutoUpdate=registry

PublishPort={{ .data.peerbanhelper.port }}:9898
Volume=%h/.containers/peerbanhelper/:/app/data

[Install]
WantedBy=default.target
