[Unit]
BindsTo=pixiv-content-proxy.service
BindsTo=pixivfe-wrapper.service

[Quadlet]
DefaultDependencies=false

[Container]
ContainerName=pixivfe
Image=registry.gitlab.com/pixivfe/pixivfe
AutoUpdate=registry

PublishPort={{ .data.pixivfe.port }}:{{ .data.pixivfe.port }}
Volume=%h/.containers/pixivfe/config.yaml:/app/config.yaml