[Unit]
BindsTo=pixivfe.service

[Service]
Restart=on-failure

[Quadlet]
DefaultDependencies=false

[Container]
ContainerName=pixiv-content-proxy
Image=docker.io/library/nginx
AutoUpdate=registry

PublishPort={{ .data.pixiv_content_proxy.port }}:{{ .data.pixiv_content_proxy.port }}
Volume=%h/.containers/pixiv-content-proxy/nginx.conf:/etc/nginx/nginx.conf:ro
Volume=%h/.containers/pixiv-content-proxy/localhost.crt:/etc/ssl/certs/localhost.crt:ro
Volume=%h/.containers/pixiv-content-proxy/localhost.key:/etc/ssl/private/localhost.key:ro
Volume=%h/.containers/pixiv-content-proxy/cache/:/var/cache/nginx/
User=0
UserNS=keep-id:uid=101,gid=101