[Unit]
Description=Pixiv artwork download daemon

[Service]
Type=oneshot
ExecStart=%h/.local/bin/gallery-dl --abort 50 https://www.pixiv.net/bookmark_new_illust.php https://www.pixiv.net/users/107569627/bookmarks/artworks
